<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NETFLIX</title>

    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/404.css">
  
</head>
<body>

	{{>nav}}


	<div class="main">
		<div class="div">
			<div class="content">
			<img src="../icons/404.jpg" class="img">
			<p class="text">The page you are requesting for doesn't exist....</p><br>

			<p class="text">You have just entered an invalid URL..</p><br>

			<a href="/" class="link">Go to home</a>
			</div>
		</div>
	</div>
</body>
</html>
