<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NETFLIX</title>

    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/about.css">
    <style>

    </style>
</head>
<body>

	{{>nav}}
	
	<div class="main">
		<center>
		<div class="content">
			<ul class="about" type="a">

				<li><p class="text">Our aim is to give our users a better user expirence with better content and the best thing is that we provide our content without any 18<sup>+</sup> or adult ads.</p></li><br>

				<li><p class="text">If you want to watch any movie then just demand us by
				clicking on this link <a href="/contact/demand">Click to contact</a></p></li><br>

				<li><p class="text">And if you want to report something, we will be very thankful to you to give us a chance to be better.just click on this link to report<a href="contact/report">click to report</a></p></li><br>

				<li><p class="text">And if you want to know something about our service and intrested in our service then contact us by clicking on this link<a href="/contact/contact">click to contact</a></p></li><br>

				<li><p class="text">If you like our service then just enjoy it and let us know about your experience.</p></li><br>

			</ul>
		</div>
	</center>
	</div>


</body>
</html>
