 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NETFLIX</title>
    <link rel="stylesheet" href="../css/upload.css">
</head>
<body>

	<form method="post" action="/uploadfile" enctype="multipart/form-data">
		<div class="input">
		<input type="file" name="file" accept="video/*" required="required">
	</div>
		<input type="submit" value="UPLOAD" class="btn">
	</form>

</body>
</html>
