
.main{
	width: 100%;
	height: 100vh;
}
.content{
	width: 90vw;
	height: 100vh;
}
.text{
	font-size: 1.3rem;
	font-style: "AGENCY FB" ;
}

.about{
	height: 100vh;
	word-wrap: break-word;
}
.about>li{
	margin: 4% auto;
	list-style: none;
}
.about>li>p{
	text-align: justify;
}
.about>li>p>a:active{
	color: blue;
}
