
	<div class="footer">
		<ul class="footer_links">
			<li><a href="/contact/contact">CONTACT</a></li>
			<li><a href="/contact/report">REPORT</a></li>
			<li><a href="/about">ABOUT</a></li>
		</ul>
	</div>