<div class="nav">
		<a href="/" class="home"><p>NETFLIX</p></a>
		<ul class="options">
			<li><a href="/movie">MOVIES</a></li>
			<li><a href="/tv-show">TV SHOWS</a></li>
			<li><a href="/web-series">WEB SERIES</a></li>
			<li><a href="/contact/demand" class="demand" style="color: rgb(0, 171, 244);">DEMAND</a></li>
		</ul>
</div>