<div class="nav">
		<a href="/" class="home"><p>NETFLIX</p></a>
		<ul class="options">
			<li><a href="/movie">MOVIES</a></li>
			<li><a href="/tv-show">TV SHOWS</a></li>
			<li><a href="/web-series">WEB SERIES</a></li>
			<li><a href="#" class="demand">DEMAND US</a></li>
		</ul>
		<div class="search">
			<form method="get" action="/search/">
		<input type="search" name="search" placeholder="search here....." class="text"> 
		<input type="submit" value="Search" class="btn">
			</form>
		</div>
	</div>