<div class="area">

		<div class="search">

		<form method="get" action="/search/">
		<input type="search" name="search" placeholder="search here....." id="search" class="text" >  
		<input type="submit" value="Search" class="btn">
		</form>
		
		</div>

</div>